@use '../../utilities/variables';

.widget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0.5px 0.5px 20px silver;
    box-shadow: 0.5px 0.5px 20px silver;
    height: 170px;

    .top{
        display: flex;
        justify-content: space-between;

        .title{
            font-weight: 700;
            font-size: 1rem;
            // color: rgb(160, 160, 160);
            color: variables.$text-color;
            text-transform: capitalize;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;
            }

            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 18px;
            padding: 5px;
            // background-color: rgb(162, 120, 201);
            border-radius: 5px;
            align-self: flex-end;
        }
    }

    .middle{
        display: flex;
        justify-content: center;
        width: 100%;
        // text-align: center;

        .counter{
            font-size: 2.3rem;
            font-weight: 600;
            // color: rgb(160, 160, 160);
            color:variables.$text-color;
            // color: #fff;
            // background-color: variables.$text-color;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border:5px solid variables.$text-color;
        }

    }

    .bottom{

        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

    }
}