// $text-color: #777;
$text-color:#2c45a8;
$text-color-hover: rgb(118, 46, 177);

.sidebar{
    // flex: 1;
    width: 260px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: white;
    padding-bottom: 10px;
    // margin-top: 5px;
    position: sticky;
    top: 70px;
    border-right: 0.5px solid #d2d2d2;
    z-index:50;

    hr{
        height: 0;
        border: 0.5px solid rgb(211, 202, 202);
    }

    .centre{
        // border-right: 0.5px solid #d2d2d2;
        padding-left: 0px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            .title{
                font-size: 10px;
                font-weight: bold;
                color: $text-color;
                margin-top: 15px;
                margin-bottom: 5px;
                margin-left:20px;
            }

            .link{
                display: flex;
                align-items: center;
                padding: 10px 10px 10px 15px;
                cursor: pointer;
                color: $text-color;
                border-left: 4px solid transparent;

                &:hover{
                    background-color: #f2f2f2;
                    border-radius: 0px;
                    color: $text-color-hover;
                    border-left: 4px solid $text-color-hover;
                }

                .icon{
                    font-size: 20px;
                }

                span{
                    font-size: 15px;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }

            .dropdown{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 10px 10px 15px;
                cursor: pointer;
                color: $text-color;
                border-left: 4px solid transparent;

                &:hover{
                    background-color: #f2f2f2;
                    border-radius: 0px;
                    color: $text-color-hover;
                    // border-left: 4px solid $text-color-hover;
                }

                .icon{
                    font-size: 20px;
                }

                span{
                    font-size: 15px;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }

            .dropdown-link{
                display: flex;
                align-items: center;
                padding: 10px 10px 10px 25px;
                cursor: pointer;
                color: $text-color;
                border-left: 4px solid transparent;

                &:hover{
                    background-color: #f2f2f2;
                    border-radius: 0px;
                    color: $text-color-hover;
                    border-left: 4px solid $text-color-hover;
                }

                .icon{
                    font-size: 20px;
                }

                span{
                    font-size: 15px;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
            .hover-styles{
                background-color: #f2f2f2 !important;
                border-radius: 0px !important;
                color: $text-color-hover !important;
                border-left: 4px solid $text-color-hover !important;
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
        }
    }
}