.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(211, 202, 202);
    height:65vw;
    min-height: 10vh;
    background-color: white;
    width: 200px;
    .top{
        height: 20px;
        display: flex;
        align-items: center; //does it vertically
        justify-content: center; //does it horizontally

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rgb(118, 46, 177)
        }
    }
    /* ListWithNestedLayer.css */

/* Style for the nested list */

  
    hr{
        height: 0;
        border: 0.5px solid rgb(211, 202, 202);
    }

    .centre{
        padding-left: 10px;
        ul.nested-list {
            list-style-type: none;
            margin: 10px 0; /* Add a gap between the parent and nested list */
            padding-left: 20px; /* Indent the nested list */
          }
          
          /* Style for nested list items */
          ul.nested-list li {
            margin: 5px 0; /* Add a gap between nested list items */
          }
          
          /* Style for links in nested list items */
          ul.nested-list li a {
            color: #0066cc; /* Customize link color */
            text-decoration: none; /* Remove underline */
          }
          
          ul.nested-list li a:hover {
            text-decoration: underline; /* Add underline on hover */
          }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            .title{
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: rgb(255, 203, 255);
                    border-radius: 5px;
                }

                .icon{
                    font-size: 18px;
                    color: #7451f8
                }

                span{
                    font-size: 18px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
        }
    }
}