@use '../../utilities/variables';

.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button{
        background-color: variables.$text-color;
        padding: 7px 10px;
        width: 170px;
        border: none;
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 3px;
    }
}