@use '../../utilities/variables';

.table{
    color: variables.$text-color;
    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
    .status{
        padding: 5px;
        border-radius: 5px;

        &.Approved{
            color: green($color: #000000);
            background-color: rgb(195, 223, 153);
        }

        &.Pending{
            color: rgba(214, 214, 28, 0.856) ;
            background-color: rgb(240, 255, 210);
        }
    }

    .tableCell{
        color:#2c45a8;
    }
}