@use '../../utilities/variables';

.progress-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .circular-progress {
    color: #007bff; /* Blue color */
    margin-bottom: 10px;
  }


form{

    .form-btn{
        display: flex;
        justify-content: center;
        width: 300px;
        margin: auto;
    }
    
    .form-btn button{
        width: 100%;
        font-size: 1.2rem;
        padding: 10px 7px;
        border: none;
        background-color: variables.$text-color;
        color: whitesmoke;
        border-radius: 7px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}