@use '../../utilities/variables';

.datatable{
    // height: 500px;
    // padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto 90px auto;

    .searchbox{
        display: flex;
        justify-content: flex-end;
        margin: 10px auto;

        input{
            padding: 10px 15px;
            width: 200px;
            outline: none;
            border: none;
            background-color: #e3e3e3;
            border-radius: 5px;
        }
    }

    .no-results{
        font-size: 2rem;
        font-weight: 700;
        padding: 70px 0;
        color: variables.$text-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .datatableTitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        
        .addUserButton{
            font-size: 16px;
            color: green;
            border: 1px solid rgb(3, 185, 3);
            border-radius: 5px;
            padding: 5px;
        }
    }

    .datagrid{
        background-color: #fff;
    }
    
    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 4px 7px 2px 7px;
        border-radius: 5px;
        font-weight: 600;

        &.active{
            background-color: transparent;
            color: green;
            border: 1px solid green;
        }

        &.passive{
            background-color: transparent;
            color: rgb(194, 39, 19);
            border: 1px solid green;
        }

        &.pending{
            background-color: transparent;
            color: goldenrod;
            border: 1px solid goldenrod;
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 4px 7px 2px 7px;
            border-radius: 5px;
            color: #fff;
            background-color: variables.$text-color;
            cursor: pointer;
        }

        .deleteButton{
            padding: 4px 7px 2px 7px;
            border-radius: 5px;
            background-color: rgb(201, 28, 51);
            color: #fff;
            cursor: pointer;
        }
    }
}