@use '../../utilities/variables';

.update-tokens{

    .property-title{
        text-align: center;
        font-size: 1.7rem;
        font-weight: 700;
        color: variables.$text-color;
        margin-block: 25px;
    }

.input-box{
    margin: 50px auto 30px auto;
    width: 300px;
    justify-self: center;
}

.view-price{
    text-align: center;
    margin: 0 auto 15px auto;
    color: variables.$text-color;
    font-weight: 600;
}

.textfield{
    width: 100%;
    /* padding: 10px 7px; */
}

.form-btn{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.form-btn button{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 7px;
    border: none;
    background-color: variables.$text-color;
    color: whitesmoke;
    border-radius: 7px;
    cursor: pointer;
}
}